.header
  position relative
  display flex
  flex-direction column
  padding paddingSize
  border-bottom 1px solid border-basee
  box-shadow 0 0 10px rgba(0,0,0,0.1)
  background mainFontColor
  max-width 200px
  width 100%
  nav
    display flex
    flex-direction column
    padding-top 20px
  span
    font-size rem(mainFontSize*1.5)
    font-weight bold
    color red-color
  
.header-link
  margin 10px 0
  transition all .3s
  color lightGrey-color
  &:hover
    color light-color