// Base color
linkColor = #333
mainFontColor = #02020c

// Main color
default-color = #ffffff
primary-color = #444ce0
success-color = #26de81
danger-color = #fc5c65
warning-color = #fed330
light-color = #999999
purple-color = #8854d0
lightGrey-color = #f9f9f9
red-color = #fe3a2e
purple-grey = #f3f4f9
orange-color = #fcf1ed

// Neutral Color
neutral-primary = #303133
neutral-regular = #606266
neutral-secondary = #909399
neutral-placeholder = #C0C4CC

// Border Color
border-base = #DCDFE6
border-light = #E4E7ED
border-lighter = #EBEEF5
border-lightex = #F2F6FC

// Font
mainFont                = 'Montserrat', Helvetica, Arial, sans-serif

// Size
mainFontSize            = 18px
fontSizeTitle           = 24px
fontSizeText            = 14px
mainLineHeight          = 1.4

paddingSize             = 25px 44px
paddingTopBottom        = 25px
paddingLeftRight        = 44px

desktopWidth            = 1280px
smDesktopWidth          = 980px
tableWidth              = 768px
phoneWidth              = 480px
smPhoneWidth            = 320px
