.header{width:100%;margin: 0 auto; height:90px; box-sizing:border-box; position:fixed; left:0; top:0; z-index:1000; background:#fff;}
.header.lineb{ box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);}
.header-index.header.lineb{ box-shadow:0 1px 1px 0 rgba(0,0,0,0);}
.header-index{ background:none; background:url(../images/headerbg.png) repeat-x !important; background-size:100% 90px; }
.logo{ width:144px; float:left; margin-top:30px;}
.logo img{ width:100%;}
.header .con{ max-width:1720px; margin:0 auto; position:relative;}
.header .ul_con{ max-width:1920px; margin:0 auto;}

.header .search{ width:170px; height:30px; box-sizing:border-box; border:1px solid #d7d7d7; float:right; margin:30px 50px 0 0; position:relative;}
.header .search input.txt{ width:100%; height:30px; background:none; border:0; box-sizing:border-box; padding:5px 30px 5px 10px;}
.header-index .search{ border:1px solid #c8c8c8;}
.header-index .search input.txt{ color:#fff;}
.header .search .btn{ position:absolute; right:5px; top:5px; background:none; border:0; cursor:pointer;}
.header .search .btn:before {content:"\e800"; font-family: 'fontello'; font-size:16px; color:#c8c8c8; transition:all .3s;}
.header-index .search .btn:before{content:"\e800"; font-family: 'fontello'; font-size:16px; color:#fff; transition:all .3s;}



.menu-mobile,.searchbtn,.yybtn{display: none;}

.menu{ float:left; margin-left:60px;}
.menu > ul {width: 100%; margin: 0 auto;  box-sizing: border-box;}
.menu > ul:before,.menu > ul:after {content: "";display: table;}
.menu > ul:after {clear: both;}
.menu > ul > li {float: left; margin-left:15px; padding:0 20px;}
.menu > ul > li>a { display: block; font-size:16px; line-height:87px; box-sizing:border-box;}
.menu > ul > li>a:hover{ border-bottom:3px solid #bc1c35; color:#bc1c35;}
.menu > ul > li.on>a{ border-bottom:3px solid #bc1c35; color:#bc1c35;}
.menu > ul > li>a.active{ border-bottom:3px solid #bc1c35; color:#bc1c35;}
.header-index .menu > ul > li>a.active{ border-bottom:3px solid #fff; color:#fff;}
.header-index .menu > ul > li> a{ color:#fff;}
.header-index .menu > ul > li>a:hover{ border-bottom:3px solid #fff; color:#fff;}
.header-index .menu > ul > li.on>a{ border-bottom:3px solid #fff; color:#fff;}

.menu > ul > li>a.active{ color:#a80028;}

.menu > ul > li > ul { width: 100%; background:rgba(240,240,240,1); position:fixed; display:none; overflow:hidden; z-index: 99;left: 0; padding:16px 0; border-bottom:1px solid #e5e5e5; }
.menu > ul > li > ul.show{ height:inherit;} 

.header-index .menu > ul > li > ul{ background:rgba(83,92,112,.85); border-bottom:0;}

.menu > ul > li > ul > .ul_con li.duan{ width:120px;}
.menu > ul > li > ul > .ul_con li:first-child{ margin-left:250px;}
.menu > ul > li > ul > .ul_con li { width:230px; background: none;float: left; margin-right:10px;}
.menu > ul > li > ul > .ul_con li.lasttu{ width:auto; padding-left:20px; border-left:1px solid #d2d2d2;}
.menu > ul > li > ul > .ul_con li>a{ color:#333; line-height:32px; font-size:15px; margin-bottom:0px; display:block;}
.menu > ul > li > ul > .ul_con li a:hover{ text-decoration:underline;}
.menu > ul > li > ul > .ul_con li dl{ margin-top:5px;}
.menu > ul > li > ul > .ul_con li dl a { color:#555; display:inline-block; font-size:14px; margin-right:0px; line-height:32px; min-width:110px;}
.menu > ul > li > ul > .ul_con li.joins_enterprise{ width:auto; margin-right:30px;}

.header-index .menu > ul > li > ul > .ul_con li>a{ color:#fff;}
.header-index .menu > ul > li > ul > .ul_con li dl a { color:#e2e2e2;}
 
.menu > ul > li > ul.normal-sub { }
.menu > ul > li > ul.normal-sub li { float:none; margin-left:250px;}
.menu > ul > li > ul.normal-sub li a { width:220px; border-bottom:1px solid #86888d; line-height:60px; display:block; /*background:url(../images/menuquan.png) no-repeat right center;*/ position:relative;}
.menu > ul > li > ul.normal-sub li a:after{  font-family: 'fontello'; content:"\e815"; color:#fff; font-size:18px; float:right;}
.menu > ul > li > ul.normal-sub li a.last{ border:0;} 

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.language{ position:absolute; right:0; top:0; font-size:12px; color:#fff; line-height:90px;}
.language a{ color:#333; }
.language a:hover{ text-decoration:underline;}

.header-index .language a{ color:#fff;}

@media screen and (max-width:1750px) {
.header .con,.ul_con{ width:90%; margin:0 auto;}	
.menu > ul > li > ul > .ul_con li { width:210px; margin-right:5px;}
.menu > ul > li > ul > .ul_con li dl a { font-size:14px; }
}
@media screen and (max-width:1440px){
.menu > ul > li > ul > .ul_con li>a{  font-size:12px;}
.menu > ul > li > ul > .ul_con li{ width:200px;}
.menu > ul > li > ul > .ul_con li dl a { font-size:10px; min-width:80px;}	
}
@media screen and (max-width:1360px){
.menu > ul > li > ul > .ul_con li { width:180px; }
.menu > ul > li > ul > .ul_con li>a{ font-size:12px; line-height:22px;}

}
@media screen and (max-width:1280px){
.menu > ul > li{ margin-left:5px; padding:0 15px;}
.menu > ul > li > ul > .ul_con li{ width:160px; margin-right:5px;}

}
@media screen and (max-width:1120px){
.menu > ul > li > ul > .ul_con li { }
 
}
@media screen and (max-width:1160px) {
.menu{ margin-left:0px;}	
.menu > ul > li { margin-left:25px; padding:0;}	
.menu > ul > li > ul > .ul_con li:first-child{ margin-left:170px;} 
.menu > ul > li > ul.normal-sub li{ margin-left:170px;} 
}
 
@media screen and (max-width:1080px) {
.header .search { display:none;}
.menu > ul > li > ul > .ul_con li:first-child{ margin-left:0;} 
.menu > ul > li > ul.normal-sub li{ margin-left:0;} 
.menu > ul > li > ul > .ul_con li.joins_enterprise{margin-right:10px;}
}

@media only screen and (max-width:768px) {
	/*.section2 .list:after{ content:""; width:100%; height:100%; background:#000; opacity:0.04; position:absolute; left:0; top:0;}*/
	
	
.header {width: 100%; height:50px; background:#fff;}
.header-index{background:none; /*background:-webkit-linear-gradient(bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 100%)*/background:url(../images/headerbg1.png) repeat-x !important;;}
.logo{ margin:16px 0 0 16px; width:100px;}
.logo img{ width:100%;}
.menu-mobile {display: block;  }
.header-index .menu-mobile:before {content:"\e801"; font-family: 'fontello'; font-size:20px; color:#fff; position:absolute; right:15px; line-height:50px; transition:all .3s;}
.header-index .menu-mobile.close:before {content:"\e802"; font-family: 'fontello'; font-size:18px; color:#fff; position:absolute; right:15px; line-height:50px; transition:all .3s;}
.header-index .searchbtn{display: block;}
.header-index .searchbtn:before {content:"\e800"; font-family: 'fontello'; font-size:20px; color:#fff; position:absolute; right:55px; line-height:50px; transition:all .3s;}
.yybtn{ display:block; position:absolute; right:100px; top:13px; color:#333; font-size:18px; }
.header-index .yybtn{color:#fff;}


.menu-mobile:before {content:"\e801"; font-family: 'fontello'; font-size:20px; color:#333; position:absolute; right:15px; line-height:50px; transition:all .3s;}
.menu-mobile.close:before {content:"\e802"; font-family: 'fontello'; font-size:18px; color:#333; position:absolute; right:15px; line-height:50px; transition:all .3s;}
.searchbtn{display: block;}
.searchbtn:before {content:"\e800"; font-family: 'fontello'; font-size:20px; color:#333; position:absolute; right:55px; line-height:50px; transition:all .3s;}
 

.menu{ float:none; margin-left:0px;}
.menu > ul{ top:50px; position:fixed; height:100%; overflow:auto; z-index:10110; clear:both; background:rgba(104,105,110,0.99);}
/*.menu > ul:after{ content:""; width:100%; height:4%; background:rgba(104,105,110,0.99); display:block; position:fixed; left:0; bottom:0; }*/
.header .con, .ul_con{ width:100%; box-sizing:border-box;}
.menu > ul > li > ul > .ul_con li:first-child{ margin-left:0px;}
.menu > ul {display: none;}

 
.menu > ul > li {width: 100%;float: none; box-sizing:border-box;  position:relative; display: block; margin:0;  padding:0px;  line-height:55px;  border-top:1px solid #5b5b5b;}
.menu > ul > li.open{ border-bottom:0;}
.menu > ul > li>a { display:inline; line-height:55px; padding-left:20px;  font-family: 'fontello'; box-sizing:border-box; color:#fff;}
/*.menu > ul > li>a:after{ content:"\e803"; font-family: 'fontello'; font-size:16px; color:#fff; position:absolute; right:15px;}*/
.menu > ul > li  i.openbt:after{ content:"\e803"; height:55px; font-family: 'fontello'; font-size:16px; color:#fff; position:absolute; right:15px;}
.menu > ul > li > ul.normal-sub li a { width:100%; border-bottom:0; line-height:40px; background:none;}
.menu > ul > li > ul.normal-sub li a:after{ display:none;}
.menu > ul > li>a.active{ border-bottom:0px solid #bc1c35; color:#fff;}
.header-index .menu > ul > li>a.active{ border-bottom:0px solid #fff; color:#fff;}
 
.header-index .menu > ul > li>a:hover{ border-bottom:0px solid #fff; color:#fff;}
.header-index .menu > ul > li.on>a{ border-bottom:0px solid #fff; color:#fff;}

.menu > ul > li>a:hover{ border-bottom:0px solid #bc1c35; color:#fff;}
.menu > ul > li.on>a{ border-bottom:0px solid #bc1c35; color:#fff;}

.menu > ul > li > ul { position: relative;  border-top:1px solid #5b5b5b; border-bottom:1px solid #5b5b5b; padding:10px 0; background:rgba(104,105,110,0.99) }
.header-index .menu > ul > li > ul { background:rgba(104,105,110,0.99); border-top:1px solid #5b5b5b; border-bottom:1px solid #5b5b5b;  }
.menu > ul > li > ul .ul_con li {float: none; line-height:20px; width: 100%;margin-top:10px; box-sizing:border-box; padding:0 20px;}
.menu > ul > li > ul > li:first-child {margin: 0;}
.menu > ul > li > ul > li > ul {position: relative; }
.menu > ul > li > ul > li > ul > li {float: none;}

.menu > ul > li > ul.normal-sub li { float:none; margin-left:0px; }

.menu > ul > li > ul > .ul_con li>a{ color:#fff;}
.menu > ul > li > ul > .ul_con li dl a { color:#e2e2e2;}
.menu > ul > li > ul > .ul_con li.joins_enterprise{ margin-right:0;}
.menu .show-on-mobile {display: block;}

.language{ position:relative; line-height:57px; background:rgba(104,105,110,0.99); clear:both; top:0; right:inherit; box-sizing:border-box; padding:0 20px; border-top:1px solid #5b5b5b;}
.language a{ color:#fff; font-size:16px;}
 /*.menu > ul > li.open > ul{ height:auto; display:block;} */

.header .search { display:none; width:100%; top:50px; border:0; height:50px; position:absolute; left:0; float:none; margin:0; background:rgba(104,105,110,0.99);}
.header-index .search{ border:0 solid #c8c8c8;}
.header .search input.txt{ width:100%; height:50px; font-size:20px; padding:5px 50px 5px 10px;}

.header-index .search input.txt{ color:#fff;}
.header .search .btn{ position:absolute; right:15px; top:10px; background:none; border:0; cursor:pointer;}
.header .search .btn:before {content:"\e800"; font-family: 'fontello'; font-size:20px; color:#fff;  }
 
}



/*底部*/
.footer{ background:#333; padding:45px 0 0px 0; clear:both; overflow:hidden;  width:100%; }
.footer .con{ width:1100px; margin:0 auto;} 

.footer ul{ float:left; width:220px; color:#666;}
.footer ul h2{ font-size:16px; color:#fff; margin-bottom:10px;}
.footer ul a{ color:#999; font-size:13px; line-height:32px; transition:all 0.3s ease-in;}
.footer ul a:hover{ text-decoration:underline; }
.footer .fr{ width:110px; float:right; text-align:center; color:#999; font-size:13px;}
.footer .fr a{ color:#999;}
.footer .fr dl{ margin-bottom:10px;}
.footer .fr dl dd{ margin-bottom:10px; display:none;}
.footer .fr dl dd.la{ margin-top:10px;}
.footer p{ width:100%; border-top:1px solid #4d4d4d; text-align:center; color:#999; margin-top:50px; line-height:20px; padding:20px 0;}
 
@media screen and (max-width:1230px) {
.footer .con{ width:90%;}
 
.footer ul{ width:16.6%; margin:0 0 0 0;}
.footer .fr{ width:16.6%;}
}
@media screen and (max-width:900px) {
.footer ul{ width:33.33333%; height:190px; margin:0 0 0 0;}
.footer .fr{ width:33.3333%;}
}

@media screen and (max-width:470px) {
 .footer ul{ width:50%; height:190px; margin:0 0 0 0; text-align:center;}
.footer .fr{ width:50%; float:none; margin:0 auto;}
}
  
